# Python
*.pyc
*.pyo
__pycache__/
backend/venv/
backend/.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Webpack
dist/
build/

# Logs
*.log

# Python environments
*.egg-info/
*.dist-info/

# Flask
instance/
*.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage reports
.coverage
.coverage.*

# Temporary files
*.bak
*.swp
*.swo

# Env
.env

# Build directories
*.egg/
build/
